@import "../../styles/colors";

.cursor {
  position: fixed;
  top: 200px;
  left: 500px;
  z-index: 2001;
  background: black;
  border-radius: 50%;
  pointer-events: none;
  transition: 200ms ease-out;
  // opacity: 0;
  &.none {
    height: 14px;
    width: 14px;
  }
  &.hover {
    height: 60px;
    width: 60px;
    opacity: 0.2;
    transform: translate(-15px, -15px);
  }
  &.open {
    height: 110px;
    width: 110px;
    backdrop-filter: blur(4px);
    background-color: rgba(32, 31, 31, 0.055);
    transform: translate(-45px, -50px);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
  }
}

.cursorfollower {
  position: fixed;
  height: 20px;
  width: 20px;
  // display: block;
  background: white;
  border-radius: 50%;
  // position: absolute;
  pointer-events: none;
  transition: 400ms ease-out;
  z-index: 2000;
  &.hidden {
    display: none;
  }
}
