@import '../../styles/colors';

.container {
  width: 100%;
  @apply xl:aspect-[2.2/1] lg:aspect-[2.2/1] md:aspect-[1.9/1] sm:aspect-[1.6/1] xs:aspect-[1.3/1] pt-10;
  background: rgb(19, 20, 23);
  color: rgb(255, 255, 255);
  position: relative;
  
  .curve {
    position: absolute;
    top: 0;
    height: 40px;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
    transform: translateY(30px);
    opacity: 0;
    transition: 500ms ease-in-out;
    &.inView {
      transform: translateY(0);
      opacity: 1;
    }

    .contact {
      text-align: center;
      @apply my-12 xs:my-0;
      p {
        font-size: 12px;
        color: $lighterdarkgray;
      }
    }

    .socials {
      @apply flex xs:flex-row flex-col
    }
  }
}