@import "../../components/styles/colors";

.page_wrapper {
  .section {
    .laurelSection {
      @apply xl:pb-[116.11px] lg:pb-[94.775px] md:pb-[72px] sm:pb-[56px] pb-[64px];
      @apply flex xs:flex-row flex-col;
      @apply xl:px-[34.150px] lg:px-[27.875px] md:px-[24px] px-[20px];
      transform: translateY(50px);
      opacity: 0;
      transition: 500ms;
      &.inView {
        transform: translateY(0);
        opacity: 1;
      }
      .header {
        @apply xs:w-[39.5%] xl:w-[39%];
        @apply text-[18px] mb-7;
      }
      .details {
        @apply xs:w-[60.5%] xl:w-[61%];
        .method {
          @apply flex flex-col md:flex-row;
          @apply xl:py-[20.49px] lg:py-[16.725px] py-[18px];
          border-bottom: 1px solid $lightestgray;
          h2 {
            @apply md:w-[49%] w-full;
            @apply xl:text-[17.758px] lg:text-[14.495px] text-[16px];
            @apply mb-3;
          }
          p {
            @apply md:w-[51%] w-full;
            @apply xl:text-[13.66px] lg:text-[11.15px] text-[12.8px];
            @apply xl:leading-[20.49px] lg:leading-[16.725px] leading-[19.2px];
          }
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
    .mainSection {
      @apply xl:px-[34.150px] lg:px-[27.875px] md:px-[24px] px-[20px];
      @apply xl:pt-[150.26px] lg:pt-[122.65px] pt-[88px];
      @apply xl:pb-[116.11px] lg:pb-[94.775px] md:pb-[72px] sm:pb-[56px] pb-[64px];
      .intro {
        h1 {
          @apply xl:text-[54.64px] lg:text-[44.6px] md:text-[38.84px] xs:text-[32px] text-[28px];
          @apply xl:leading-[60.104px] lg:leading-[49.06px] md:leading-[40.7px] xs:leading-[35.2px] leading-[30.8px];
          @apply xl:tracking-[-1.6392px] lg:tracking-[-1.338px] md:tracking-[-1.11px] xs:tracking-[-0.96px] tracking-[-0.84px];
        }
      }
      .details {
        @apply flex flex-col-reverse xs:flex-row;
        transform: translateY(50px);
        opacity: 0;
        transition: 600ms;
        transition-delay: 2s;
        &.inView {
          transform: translateY(0);
          opacity: 1;
        }
        .history {
          @apply xs:w-[39.5%] xl:w-[39%];
          .container {
            @apply xl:mt-[17.075px] lg:mt-[13.9375px] md:mt-[11.8625px] sm:mt-[9.15px] mt-[32px];
            @apply sm:max-w-[180px] xs:w-[522px] w-full;
            .section {
              @apply mb-[12.24px] xs:mb-[15.93px] sm:mb-[21.09px] md:mb-[26.94px] lg:mb-[32.88px] xl:mb-[40.98px];
              p {
                font-size: 12px;
                line-height: 18px;
                &:first-child {
                  color: $lighterdarkgray;
                }
              }
            }
          }
        }
        .writeup {
          @apply xs:w-[60.5%] xl:w-[61%];
          .header {
            h1 {
              @apply xl:text-[34.15px] lg:text-[27.875px] xs:text-[28px] text-[22px];
              @apply xl:leading-[40.98px] lg:leading-[33.45px] xs:leading-[33.6px] leading-[28.6px];
            }
          }
          .paragraph {
            p {
              @apply xl:text-[13.66px] lg:text-[12.265px] text-[12.8px];
              @apply xl:leading-[20.49px] lg:leading-[18.3975px] leading-[19.2px];
              @apply xl:max-w-[546.4px] lg:max-w-[446px] md:max-w-[383.6px];
              @apply pb-[24px] md:pb-0;
            }
          }
        }
      }
    }
  }
}
